@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Caveat&family=Goldman&family=Koulen&display=swap');

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Koulen", sans-serif;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 400vmin;
    pointer-events: none;
}

.App-header {
    background-color: #6cf1fd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
    color: #cb00ee;
}

@keyframes App-logo