<div class="my-2 profile-page">
      <h1>Hi, {{name}}!</h1>


<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>

    </h1>
    <h3 class="importSongs mt-3"> Let's get your Spotify songs imported! Click the "Import Songs" button to import some of your recent favorites! To start, we'll import 25 of your most recently liked songs. </h3>
    <a href='https://good-treble.herokuapp.com/spotify/login'><button id="button-spotify-import">Import Songs</button></a>
  </header>
  </div>
  <main class="container container-fluid mt-5">
    <!-- Render the User's Profile Here -->

{{#each songs as |song| }}
<p>{{song.SongName}} by {{song.ArtistName}}</p>
{{/each}}

<script src='/js/spotifyImport.js