      <h1>Hi, {{name}}!</h1>
<h1>You're in the Profile page</h1>
<h1>PROFILLLLLLLLLLLLLLEEEEEEEEEEEEEEEEEEEEEEEEE</h1>
<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>

    </h1>
    <h3> Let's get your Spotify songs imported! Click the "Import Songs" button to import some of your recent favorites! To start, we'll import 25 of your most recently liked songs. </h3>
    <a href='https://good-treble.herokuapp.com/spotify/login'><button id="button-spotify-import">Import Songs</button></a>
  </header>
  <main class="container container-fluid mt-5">
    <!-- Render the User's Profile Here -->

{{#each songs as |song| }}
<p>{{song.id}}</p>
{{/each}}