<h1>Good Treble has one goal. We want to help users find new music, and make friends with other people who love those same artists and
  genres. As music lovers, we know how rewarding it can be to share your favorite
  artist with the uninitiated. We want to simplify the process of finding fellow music enthusiasts by displaying what kind of music our users enjoy.</h1>