<div class="container-fluid my-2 playlist">
  <p class="about-page">GOOD TREBLE HAS ONE GOAL. WE WANT TO HELP USERS FIND NEW MUSIC, AND MAKE FRIENDS WITH OTHER PEOPLE WHO LOVE THOSE SAME ARTISTS AND GENRES. AS MUSIC LOVERS, WE KNOW HOW REWARDING IT CAN BE TO SHARE YOUR FAVORITE ARTIST WITH THE UNINITIATED. WE WANT TO SIMPLIFY THE PROCESS OF FINDING FELLOW MUSIC ENTHUSIASTS BY DISPLAYING WHAT KIND OF MUSIC OUR USERS ENJOY.</p>
</div>