* {
  box-sizing: border-box;
}

:root {
  --outrun-red: #d20020;
  --sunset-orange: #ff7c09;
  --retro-yellow: #fcd200;
  --palm-tree-green: #25bf69;
  --kumbasar-blue: #6cf1fd;
  --cyber-midnight: #271537;
  --neon-violet: #cb00ee;
  --arcade-pink: #f958cf;
  --headlight-white: #fcfffb;
  --tinted-windows-black: #01000a;
  --good-treble-green: #e4fe72;
}

/* FONT INFO */

/* Audiowide is an 80's inspired font */
/* Baloo looks good bold and all caps */
/* Oxygen is very normal looking font */
/* Syne Mono has a distressed type look */
/* Yesteryear is a fancy script */

/* FONT INFO */

body {
  background: radial-gradient(#271537, #01000a);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: 'Baloo 2', cursive;
  height: 100vh;
  margin: -20px 0 50px;
}

.navbar {
  justify-content: center;
  align-content: center;
}

h1 {
  font-family: 'Baloo 2', cursive;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0 0 7px var(--retro-yellow), 0 0 9px var(--headlight-white);
}

h2 {
  font-family: 'Baloo 2', cursive;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
}

h3 {
  font-family: 'Baloo 2', cursive;
  font-size: 2.5em;
  font-weight: 800;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
  font-weight: 800;
}

a {
  font-family: 'Syne Mono', monospace;
  color: var(--neon-violet);
  font-size: 1.5em;
  text-decoration: 0;
  margin: 15px 0;
}

a:hover {
  font-family: 'Syne Mono', monospace;
  font-size: 1.7em;
  color: var(--arcade-pink);
  text-shadow: 0 0 7px var(--retro-yellow), 0 0 9px var(--headlight-white);
}

a ul li {
  font-family: 'Syne Mono', monospace;
  font-size: 14px;
  color: var(--neon-violet);
  font-weight: 500;
  line-height: 1em;
  list-style: none;
}

.sign-in-header, .create-account-header {
  color: var(--tinted-windows-black) !important;
}

.about-page, .playlist, .profile-page, .imported {
  width: 500px !important;
  text-align: center !important;
}

.playlist-container {
  width: 500px !important;
}

button {
  border-radius: 50px;
  border: 1px solid var(--good-treble-green);
  background-color: var(--good-treble-green);
  color: var(--tinted-windows-black);
  font-family: 'Audiowide', cursive;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button:hover {
  font-size: 1.5em;
  text-shadow: 0 0 7px var(--good-treble-green), 0 0 9px var(--retro-yellow);
  border: 1px solid var(--palm-tree-green);
  box-shadow: 0 0 9px var(--retro-yellow), 0 0 12px var(--palm-tree-green);
}

button.ghost {
  background-color: transparent;
  border-color: var(--headlight-white);
}

button.ghost:hover {
  background-color: transparent;
  border-color: var(--cyber-midnight);
}

form {
  background: var(--kumbasar-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: var(--headlight-white);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  box-shadow: 0 0 7px var(--retro-yellow), 0 0 9px var(--headlight-white);
}

.nav-link {
  visibility: visible;
}

.navbar-nav {
  visibility: hidden;
  justify-content: center;
  align-content: center;       
}

.navbar-logo {
  justify-content: center;
  align-content: center;   
}

#btn-logout {
  color: var(--tinted-windows-black);
  text-shadow: 0 0 7px var(--headlight-white), 0 0 9px var(--retro-yellow);
}

#button-spotify-import {
  text-align: center;
}

.container {
  background-color: var(--neon-violet);
  border-radius: 10px;
  box-shadow: 0 14px 28px var(--neon-violet), 0 10px 10px var(--outrun-red);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

/* Animation */
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--arcade-pink);
  background: -webkit-linear-gradient(
    to right,
    var(--good-treble-green),
    var(--kumbasar-blue)
  );
  background: linear-gradient(
    to right,
    var(--good-treble-green),
    var(--kumbasar-blue)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--tinted-windows-black);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  -webkit-tap-highlight-color: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid var(--arcade-pink);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.log-out {
  justify-content: center;
  align-content: center;
}

footer {
  background: var(--sunset-orange);
  color: var(--neon-violet);
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0 ;
}

footer i {
  color: var(--retro-yellow);
}

footer a {
  color: var(--kumbasar-blue);
  text-decoration: none;
}

i {
  font-family: 'Oxygen', sans-serif;
  color: var(--arcade-pink);
  transition: all 0.3s ease-in-out;
}

i:hover {
  font-family: 'Oxygen', sans-serif;
  color: var(--sunset-orange);
  transition: all 0.3s ease-in-out;
}

main {
  background: transparent;
}

/* Media Queries for Mobile */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

/* Media Queries for iPads */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

/* Media Queries for larger screens*/
@media screen and (min-width: 992px) {
  body {
    width: 100%;
  }
}
